@using Microsoft.AspNet.Identity; 
@model limingallery.ViewModels.PostCommentViewModes
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Post.Title</h2>
<img src="@Model.Post.ImageUrl()" alt="Alternate Text" />

@{ 
    if (Model.Post.UserId == User.Identity.GetUserId())
    {
        @Html.ActionLink("Delete", "Delete", "Posts", new { Id = Model.Post.Id }, null)
    }
}

@Html.Partial("~/Views/Comments/_CreateComment.cshtml")