@using Microsoft.AspNet.Identity;
@model limingallery.Models.Post
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
<img src="@Model.ImageUrl()" alt="Alternate Text" />

@{ 
    if (Model.UserId == User.Identity.GetUserId())
    {
        @Html.ActionLink("Delete", "Delete", "Posts", new { Id = Model.Id }, null)
    }
}