@model IEnumerable<limingallery.Models.Post>

@{
    ViewBag.Title = "All Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-hover" style="margin-top:15px">
    <thead>
        <tr>
            <th>All Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Title</td>
                <td><img src="@post.ImageUrl()" alt="Alternate Text" style="max-height:100px"/></td>
            </tr>
        }
    </tbody>
</table>