@model limingallery.ViewModels.PostCommentViewModes

@using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { style = "margin-top:10px;" }))
{
    <div class="form-group">
        @Html.TextAreaFor(p => p.Comment.Content, new { @class = "form-control" , placeholder="Comment.." })
        @Html.HiddenFor(p =>p.Comment.PostId, new { Value = Model.Post.Id })
    </div>

    <button type="submit" class="btn btn-primary">Đăng</button>

}
